<template name="footemplate">
  <div foo="moo" doo='yoo'>
    <span style="display:none;">Eh?</span>
    <input type="text" value="foo2"/>
    <input/>
    <input  />
    <div>
      <h2>if begins</h2>
      <div>
        {% if fooifcheck %}
          <p>fooifcheck</p>
        {% elif fooelifcheck %}
          <p>fooelifcheck</p>
        {% else %}
          <p>else</p>
        {% endif %}
      </div>
      <h2>if ends</h2>
    </div>
    <!-- comment totally ignored -->
    <!--
       <p>
        wtf
        </p>
  <div>
    -->
    <div>
      <p>for begins</p>
      {% for k, v in foos %}
        <hr/>
        {% for key, value in foosNested %}
          <p>k-> {{k}} and v -> {{v}} </p>
          <p>:::: key -> {{key}} and value -> {{value}}</p>
        {% endfor %}
      {% endfor %}
      <p>for ends</p>
    </div>
    <div>
      <p>for array begins</p>
      {% for k, v in foosR %}
        <p>k-> {{k}} and v -> {{v}} </p>
      {% endfor %}
      <p>for array ends</p>
    </div>
    <p>
    <!-- foo test wtf -->
    <div>
      <div><p>what</p></div>
    {{foovar}}
    <div>
      Another foovar:
      {{ foovar }}
    </div>
    </p>
      </div>
  </div>
</template>

<template name="doo2">
  <form action="post">
    <label>Do something here.</label>
    <p>This thing does something. <span>Here</span> <div>is</div> some text.</p>
    <input type="text" value="foo"/>
    <input type="submit" value="OK"/>
  </form>
</template>
