<template name="footemplate">
  <div foo="moo" doo='yoo'>
    <span style="display:none;">Eh?</span>
    <input type="text" value="foo2"/>
    <input/>
    <input  />
    <div>
      <h2>if begins</h2>
      <div>
        {% if fooifcheck %}
          <p>fooifcheck</p>
        {% elif fooelifcheck %}
          <p>fooelifcheck</p>
        {% else %}
          <p>else</p>
        {% endif %}
      </div>
      <h2>if ends</h2>
    </div>
    <!-- comment totally ignored -->
    <!--
       <p>
        wtf
        </p>
  <div>
    -->
    <div>
      <div class="stuff">
        <h2><span>Nested</span>&nbsp;<i>Object</i> Lookup</h2>
      </div>
      <div>
        <p>What's the tallest building in NYC?</p>
        <br/><br/>&nbsp; amp begins &amp; amp ends
        <br/>
        nbsp begins <div id="wtf">&nbsp;</div> nbsp ends
        <br/>
        <p>{{fooNamespaceLookup.buildings.skyscrapers.newyork.tallest}}</p>
      </div>
    </div>
    <div>
      <p>for no key begins</p>
      {% for v in foos %}
          <p>v -> {{v}} </p>
      {% endfor %}
      <p>for no key ends</p>
    </div>
    <div>
      <p>for begins</p>
      {% for k, v in foos %}
        <hr/>
        {% for key, value in foosNested %}
          <p>k-> {{k}} and v -> {{v}} </p>
          <p>:::: key -> {{key}} and value -> {{value}}</p>
        {% endfor %}
      {% endfor %}
      <p>for ends</p>
    </div>
    <div>
      <p>for array begins</p>
      {% for k, v in foosR %}
        <p>k-> {{k}} and v -> {{v}} </p>
      {% endfor %}
      <p>for array ends</p>
    </div>
    <p>
    <!-- foo test wtf -->
    <div>
      <div><p>what</p></div>
    {{foovar}}
    <div>
      Another foovar:
      {{ foovar }}
    </div>
    </p>
      </div>
  </div>
  <div>
      <p>striptags filter var begins</p>
      {{ striptagsvar|striptags }}
  </div>
  <div>
      <p>default filter var begins</p>
      {{ striptagsvar|default:"foo" }}
  </div>
  <div>
      <p>nested filter var begins</p>
      {{ striptagsvar|default:"foowithLength"|length }}
  </div>
  <div>
    <p>attribute if begins</p>
    <span style="color: blue;{% if attrifvar %}background:yellow;{% endif %}">attr if</span>
  </div>
  <div>
    <p>element if begins</p>
    <span {% if eleifvar %}style="font-weight:bold;"{% endif %}>ele if</span>
  </div>
  <div>
    <p>complex if begins</p>
    {% if compA or not compB and compC %}
    <p>complex if true</p>
    {% endif %}
    <p>complex if ends</p>
  </div>
  <div>
    <p>comparison if begins</p>
    {% if foocompare == "foo" %}
      <p>compare if is foo</p>
    {% endif %}
    <p>compare if ends</p>
  </div>
  <div>
    <p>variable in an attribute</p>
    <span style="display:{{ attribvar }}">
      Attrib var
    </span>
  </div>
  <div>
    <p>Check "in x" op</p>
    {% if fooIn in fooIns %}
    <p>Is is in.</p>
    {% endif %}
  </div>
  <div>
    <p>Check "not in x" op</p>
    {% if fooIn not in fooIns %}
    <p>Is is not in.</p>
    {% endif %}
  </div>
  <div>
    <p>deeply nested element and attribute if begins</p>
    <span {% if deepNestedElementIf %}
          style="color: blue;{% if attrifvar %}background:{{attribval}};{% endif %}"
          {% endif %}>attr if</span>
  </div>
</template>

<template name="doo2">
  <form action="post">
    <label>Do something here.</label>
    <p>This thing does something. <span>Here</span> <div>is</div> some text.</p>
    <input type="text" value="foo"/>
    <input type="submit" value="OK"/>
  </form>
</template>
